<html>
    <body>


    </body>
    <table>
        <tr style="border: solid 1px black;">
            <td>id</td>
            <td>nome</td>
        </tr>
        
        <tr>
                <td style="border: solid 1px green;">01</td>
                <td>livro bosta</td>
            </tr>
    </table>
</html>